<app-header>
    <ion-back-button left-button defaultHref="tabs/profile"></ion-back-button>
    <p title>Колекції</p>
</app-header>

<ion-content>
    <div class="add-collection">
        <app-input-dialog #newCollectionDialog [id]="'add-collection'" [buttonText]="'Додати колекцію'"
            [inputFieldLabel]="'Введіть назву колекції'" (resultReceived)="addCollection($event)"></app-input-dialog>
    </div>
    <ion-list>
        <ion-list-header>
            Всі колекції
        </ion-list-header>
        @if($collections().length){
        <ion-item *ngFor="let collection of $collections()">{{collection.name}}</ion-item>
        }
        @else {
        <p class="padding-inline">У вас поки що немає колекцій рецептів</p>
        }

    </ion-list>
</ion-content>