<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="main-header">
        <ion-img
          class="logo"
          src="../../../../assets/images/humster_sm.png"
        ></ion-img>
        <div class="title">
          <div class="title-main">Cookster</div>
          <div class="title-sub">Organize your cooking!</div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ng-content select="[top-header-right-button]"></ng-content>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isShowDoubleToolbar">
    <ion-buttons slot="start">
      <ng-content select="[left-button]"></ng-content>
    </ion-buttons>
    <ion-title>
      <ng-content select="[title]"></ng-content>
    </ion-title>
    <ion-buttons slot="end">
      <ng-content select="[right-button]"></ng-content>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
