<app-header>
  <ion-back-button left-button defaultHref="tabs/profile"></ion-back-button>
  <p title>Загальні налаштування</p>
</app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [disabled]="!$isEditDefaultPortionEnabled()" label="Розмір порції по замовчуванню"
        placeholder="250гр" [(ngModel)]="defaultPortionSize"
        (ngModelChange)="changeDefaultPortionSize($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle [checked]="this.preferences().isUseRecommendedPortionSize"
        (ionChange)="onToggled('isUseRecommendedPortionSize', $event)"><label class="wrapped-label">Використовувати
          рекомендований розмір
          порції</label></ion-toggle>
    </ion-item>
    <!-- disabled since logic is not fully implemented -->
    <ion-item *ngIf="false"> 
      <ion-toggle [checked]="this.preferences().isUsePersonalizedPortionSize"
        [disabled]="!$isUseIndividualPortionsEnabled()"
        (ionChange)="onToggled('isUsePersonalizedPortionSize', $event)"><label class="wrapped-label">Використовувати
          індивідуальні налаштування порції для членів сім'ї<span
            *ngIf="!$isUseIndividualPortionsEnabled()">*</span></label></ion-toggle>
    </ion-item>
    <p *ngIf="!$isUseIndividualPortionsEnabled() && false" class="padding-inline footnote">* Щоб використовувати
      індивідуальні налаштування для членів сім'ї, потрібно вказати % від рекомендованої порції для кожного члена сім'ї
    </p>
  </ion-list>

</ion-content>