.meal-header {
  margin-block: 5px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: var(--ion-color-medium);
  }
  .details {
    font-size: 10px;
    color: var(--ion-color-medium);
  }
}

.meal-time {
  margin-top: 20px;
  margin-bottom: 40px;
}

.add-recipy{
  margin-top: 15px;
}