<div cdkDropList [id]="mealtime + '_' + day.details.day" *ngIf="!!_day" class="meal-time">
  <div class="meal-header">
    <div class="title">
      <span>{{ mealtimeText }}</span>
    </div>

    <div class="details" *ngIf="!!detailedRecipiesList.length">
      <span *ngIf="!!getPortions()">
        {{ getPortions() }} {{ portionsText(getPortions()) }}
      </span>

      <!-- TODO: what is the logical way to display amount per person when there
      are several dishes with different amount of portions?
      <span *ngIf="!!getAmountPerPerson()">
        {{ getAmountPerPerson() }} гр/чол
      </span>

      <span *ngIf="getCalories()">{{ getCalories() }} ккал/порцію</span> -->
    </div>
  </div>

  <ng-container *ngIf="!!detailedRecipiesList">
    <ng-container>
      <div *ngFor="let item of detailedRecipiesList">
        <app-calendar-recipy [recipy]="item" [day]="day" [mealtime]="mealtime"></app-calendar-recipy>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="isComments">
    <ng-container *ngFor="let comment of _day.details.comments">
      <ion-item *ngIf="comment.mealTime === mealtime" swipeLeftDelete
      (deleteItem)="onDeleteComment(comment)">{{comment.comment}}</ion-item>
    </ng-container>

  </ng-container>

  <div class="action-buttons">
    <app-add-recipy-modal *ngIf="addRecipies" [meatime]="mealtime" [date]="day.details.day"
      (recipyToAdd)="onRecipySelected($event)"></app-add-recipy-modal>
    <app-add-comment-modal #addCommentModal *ngIf="addRecipies" [meatime]="mealtime" [date]="day.details.day"
      (commentToAdd)="onAddComment($event)">

    </app-add-comment-modal>
  </div>

  <app-select-option-dialog #selectOption *ngIf="selectedRecipyForCalendar" [recipy]="selectedRecipyForCalendar" [meatime]="mealtime" [date]="day.details.day"></app-select-option-dialog>
</div>