<app-header>
  <ion-back-button left-button defaultHref="tabs/calendar"></ion-back-button>
  <p title>Планер</p>
</app-header>

<ion-content [fullscreen]="true">
  <div class="planner-container">
    <div>
      <ion-button expand="full" (click)="onAddNewPlanner()">Додати</ion-button>
      <ion-list>
        <ion-item
          button
          swipeLeftDelete
          *ngFor="let planner of plannersList"
          (click)="onPlannerClicked(planner.id)"
          (deleteItem)="onDelete(planner)"
        >
          <ion-label
            >{{ getFormattedName(planner.startDate) | date: 'MMMM, dd' }} - {{
            getFormattedName(planner.endDate) | date: 'MMMM, dd' }}</ion-label
          >
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="showDatePicker">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="showDatePicker = false">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item id="open-modal-start">
          <ion-label>Початкова дата:</ion-label>
          <ion-note slot="end">{{dateExampleStart | date:'EEEE, MMM d'}}</ion-note>
        </ion-item>
        <ion-modal trigger="open-modal-start" [cssClass]="'bottom-end'">
          <ng-template>
            <ion-datetime
              presentation="date"
              [(ngModel)]="dateExampleStart"
              size="cover"
              [showDefaultButtons]="true"
            ></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item id="open-modal-end">
          <ion-label>Кінцева дата:</ion-label>
          <ion-note slot="end">{{dateExampleEnd | date:'EEEE, MMM d'}}</ion-note>
        </ion-item>
        <ion-modal trigger="open-modal-end" [cssClass]="'bottom-end'">
          <ng-template>
            <ion-datetime
              presentation="date"
              [(ngModel)]="dateExampleEnd"
              size="cover"
              [showDefaultButtons]="true"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-list>
      <ion-button (click)="onDateSelected()">Створити</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
