:host {
    width: 100%;
    display: flex;
}

.timeline-container {
    width: 100%;
    display: flex;

    &>div {
        display: flex;
        flex-direction: column;

        &>div {
            flex-grow: 1;
        }
    }
}

.timeline-scale {
    width: 75px;
    border-right: 1px solid var(--ion-color-medium);

    .scale-item {
        font-size: 0.6em;
    }
}

.timeline-body {
    flex-grow: 1;
    position: relative;

    .scale-item {
        border-color: var(--ion-color-light-tint);
        width: 100%;
        flex-grow: 1;
    }
}

.scale-item {
    border-bottom: 1px solid var(--ion-color-medium);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &.night {
        background-color: var(--ion-color-light);
    }

    &.point-now{
        border-block: 1px dashed var(--ion-color-primary) !important;
    }

}

.recipies-container {
    position: absolute;
    overflow: auto;
    box-shadow: inset -4px 6px 7px 0px rgb(0 0 0 / 11%)
}

.recipies-container-scrolling {
    display: flex;
    gap: 5px;
    width: max-content;
}

.timeline-recipy,
.timeline-comment {
    width: 120px;
    padding: 5px;
    background: var(--ion-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
}

.timeline-comment {
    border-radius: 3px;
}

.background-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
}

.recipy-preview {
    --width: 95vw;
}

.time-label {
    transform: translateY(-50%);
    display: block;
    background-color: var(--ion-color-secondary);
    padding: 0 10px;
    border-radius: 10px;
    &.transparent{
        color: transparent;
    }
}