<ion-button id="open-modal" expand="block">{{ buttonText }}</ion-button>
<ion-modal
  #modal
  trigger="open-modal"
  [presentingElement]="presentingElement"
  (didDismiss)="onDismissed()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Закрити</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="floating">{{ inputFieldLabel }}</ion-label>
        <ion-input [(ngModel)]="result" [type]="inputType"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
