.wrapped-text {
  white-space: normal;
}

.accordion-content{
  min-height: 330px;
}

.filter-item {
  display: flex;
    flex-direction: column;
    margin-block: 20px;
}

.found-recipies-count {
      font-size: 14px;
    margin-block: 5px;
    white-space: normal;
    text-align: center;
}