<ion-button [id]="'filters-modal' + pageId">
  <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
</ion-button>

<ion-modal [trigger]="'filters-modal' + pageId" [initialBreakpoint]="0.75" [breakpoints]="[0.25, 0.5, 0.75, 1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Скинути</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()">Застосувати</ion-button>
        </ion-buttons>
        <ion-title><h5 class="found-recipies-count">Знайдено {{ filtersService.filteredRecipies }} рецептів</h5></ion-title>
      </ion-toolbar>
      <ion-toolbar *ngIf="isShowWidget"><app-active-filters-widget></app-active-filters-widget></ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" *ngIf="!isExpensePage; else ExpensesTemplate">      
      
      <div class="filter-item">
        <span class="filter-item-title">Пошук за назвою:</span>
        <app-search-recipies-filter [isClearOnDestroy]="false"></app-search-recipies-filter>
      </div>
      <div class="filter-item">
        <app-sorting-filter [isUserLoggedIn]="isUserLoggedIn"></app-sorting-filter>
      </div>
      <div class="filter-item" *ngIf="(userCollections$ | async)?.length">
        <span class="filter-item-title">Показати страви з колекцій:</span>
        <app-collection-selector [userCollections]="userCollections$ | async"></app-collection-selector>
      </div>
      <div class="filter-item">
        <span class="filter-item-title">Показати типи страв:</span>
        <app-dish-type-selector></app-dish-type-selector>
      </div>
      <div class="filter-item">
        <span class="filter-item-title">Приховати типи страв:</span>
        <app-dish-type-selector [isTagsToShow]="false"></app-dish-type-selector>
      </div>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Показати рецепти з інгридієнтами:</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content">
            <app-product-autocomplete #withAutocomplete *ngIf="products$ | async" [products]="products"
              (productSelected)="addToDisplayWith($event)"></app-product-autocomplete>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Не показувати рецепти з інгридієнтами:</ion-label>
          </ion-item>
          <div class="ion-padding accordion-content" slot="content">
            <app-product-autocomplete #withoutAutocomplete *ngIf="products$ | async" [products]="products"
              (productSelected)="addToDisplayWithout($event)"></app-product-autocomplete>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-template #ExpensesTemplate>
  <ion-content class="ion-padding">
    <app-active-filters-expenses-widget></app-active-filters-expenses-widget>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Фільтрувати за продуктом:</ion-label>
        </ion-item>
        <div class="ion-padding accordion-content" slot="content">
          <app-product-autocomplete #withAutocomplete *ngIf="products$ | async" [products]="products"
            (productSelected)="addToDisplayWith($event)"></app-product-autocomplete>
        </div>
      </ion-accordion>
      <!-- <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Не показувати рецепти з інгридієнтами:</ion-label>
        </ion-item>
        <div class="ion-padding accordion-content" slot="content">

        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Пошук за типом страв</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

        </div>
      </ion-accordion> -->
    </ion-accordion-group>
  </ion-content>

</ng-template>