<app-header>
  <ion-back-button left-button defaultHref="tabs/calendar"></ion-back-button>
  <ion-segment [value]="displayRecipyIndex" title [scrollable]="true" (ionChange)="onSelectedRecipyChanged($event)">
    <ng-container *ngFor="let recipy of (openedRecipies$ | async); index as i">
      <ion-segment-button [value]="i">
        <ion-label class="recipy-selector-btn">{{recipy.name}}</ion-label>
      </ion-segment-button>
    </ng-container>
  </ion-segment>
</app-header>

<ion-content>
  <ng-container *ngIf="(openedRecipies$ | async) as openedRecipies">
    <ng-container *ngIf="openedRecipies[displayRecipyIndex] as openedRecipy">
      <app-recipy-full-view [recipy]="openedRecipy" [currentUser]="user$ | async"
        [amountPerPortion]="openedRecipy.amountPerPortion" [portions]="openedRecipy.portions"
        [day]="openedRecipy.endTime" (portionsChanged)="onPortionsChanged($event)"></app-recipy-full-view>
      <app-comments-block [currentUser]="user$ | async" [recipyId]="openedRecipy.id"></app-comments-block>
    </ng-container>

  </ng-container>

</ion-content>