<ion-item-sliding>
  @if(startOptions().length){

  }
  <ion-item-options side="start">
    @for(option of startOptions(); track option.action){
    <ion-item-option [color]="option.color" (click)="onOptionClicked(option.action)">{{option.name}}</ion-item-option>
    }

  </ion-item-options>

  <ion-item>
    <ion-label>{{ getIngredientText(ingredient()) }}</ion-label>

    @if(measuringUnit !== MeasuringUnit.none){
    <ion-text [innerHTML]="ingredient().amount * coefficient()
      | convertToSelectedUnit : ingredient().product : measuringUnit
      | normalizeDisplayedAmount : measuringUnit"></ion-text>
    }

    <div>
      @if(measuringUnit !== MeasuringUnit.none){
      <ion-select interface="action-sheet" [value]="measuringUnit" (ionChange)="unitChanged($event)">
        @for(unit of $measurementUnits(); track unit){
        <ion-select-option [value]="unit">{{
          getUnitText(unit)
          }}</ion-select-option>
        }

      </ion-select>
      }
      @else {
      <ion-text>за смаком</ion-text>
      }

    </div>

    <div>
      <ng-content select="[action-buttons]"></ng-content>
    </div>
  </ion-item>


  @if(endOptions().length){
  <ion-item-options side="end">
    @for(option of endOptions(); track option.name){
    <ion-item-option [color]="option.color">{{option.name}}</ion-item-option>
    }

  </ion-item-options>
  }
</ion-item-sliding>