.additional-info {
  display: flex;
  color: var(--ion-color-medium);
  font-size: 12px;
  flex-direction: column;
  & > span {
    margin-right: 10px;
  }
  .icons {
    color: var(--ion-color-primary);
  }
}

h2 {
  white-space: normal;
  font-size: 16px;
  font-weight: 600;
}

.recipy-content {
  display: flex;
  .recipy-text {
    flex-grow: 1;
  }
}

.recipy-photo {
  height: 125px;
  width: 140px;
  min-width: 140px;
  margin-left: 10px;
}



