.content {    
    overflow-y: auto;
    max-height: 60vh;
}

ion-item {
    font-size: 12px;
}

.info-line {
    display: flex;
    align-items: center;

    p {
        font-size: inherit;
        margin: 0;
        line-height: inherit;
        display: flex;
        align-items: center;
        gap: 3px;
        white-space: nowrap;
    }
}