<ion-card (click)="onRecipyClicked()" *ngIf="!isBigScreen">
  <ng-container *ngTemplateOutlet="genericInfo"></ng-container>

  <ion-card-content>
    <app-image *ngIf="recipy.photo" [imagePath]="recipy.photo"></app-image>
    <div *ngIf="!recipy.photo" class="ingredients-wrapper no-photo">
      <ng-container *ngTemplateOutlet="ingredsInfo"></ng-container>
    </div>
  </ion-card-content>

  <div class="overlay once" [class.visible]="isRecipyClicked">
    <div class="overlay-flex-container">
      <ng-container *ngTemplateOutlet="additionalInfo"></ng-container>
      <div>
        <div class="ingredients-wrapper">
          <ng-container *ngTemplateOutlet="ingredsInfo"></ng-container>
        </div>
      </div>
    </div>

    <div class="actions-pane">
      <ion-button (click)="goFullRecipy()">

        Перейти до рецепту
      </ion-button>
      <app-collections-action-sheet *ngIf="currentUser" [currentUser]="currentUser" [recipy]="recipy"></app-collections-action-sheet>
      <app-add-recipy-to-no-show *ngIf="currentUser" [isSmall]="false" [recipy]="recipy" [currentUser]="currentUser" [buttonColor]="'light'"></app-add-recipy-to-no-show>

    </div>
  </div>
</ion-card>

<ion-card *ngIf="isBigScreen" class="big-screen-card">
  <div class="big-screen-card-background">
    <app-image *ngIf="recipy.photo" [imagePath]="recipy.photo"></app-image>
  </div>
  <div class="big-screen-card-content">
    <ng-container *ngTemplateOutlet="genericInfo"></ng-container>
    <ion-card-content>
      <ng-container *ngTemplateOutlet="additionalInfo"></ng-container>
      <ng-container *ngTemplateOutlet="ingredsInfo"></ng-container>
      <div class="big-screen-card-action-buttons" *ngIf="isShowActionButtons">
        <app-add-recipy-to-no-show *ngIf="currentUser" [isSmall]="false" [recipy]="recipy" [currentUser]="currentUser" [buttonColor]="'light'"></app-add-recipy-to-no-show>
        <app-collections-action-sheet [buttonColor]="'light'" *ngIf="currentUser" [currentUser]="currentUser" [recipy]="recipy"></app-collections-action-sheet>

        <ion-button color="light" (click)="goFullRecipy()">
          Перейти до рецепту
        </ion-button>        
      </div>

    </ion-card-content>
  </div>
</ion-card>

<ng-template #genericInfo>
  <ion-card-header>
    <ion-card-title>{{ recipy.name }}</ion-card-title>
    <ion-card-subtitle>
      <div class="flex-container">
        <div>
          <span>
            <ion-icon name="american-football-outline"></ion-icon>
            {{ activePreparationTime() | normalizeTime }}
          </span>
          <span>
            <ion-icon name="beer-outline"></ion-icon>
            {{ passivePreparationTime() | normalizeTime }}
          </span>
        </div>
        <div>
          <ion-icon name="alarm" *ngIf="isNeedsAdvancePreparation"></ion-icon>
          <ion-icon name="checkmark-done" *ngIf="recipy.isCheckedAndApproved"></ion-icon>
        </div>
      </div>
      <div class="collection-tags" *ngIf="includedInCollections.length">
        <span>Мої колекції: </span>
        <ion-chip class="collection-chip" *ngFor="let collection of includedInCollections">{{
          collection
          }}</ion-chip>
      </div>

    </ion-card-subtitle>
  </ion-card-header>
</ng-template>

<ng-template #ingredsInfo>
  <h6>Основні інгридієнти</h6>
  <div class="ingreds-list">
    <ng-container *ngFor="let ingredient of topIngredients">
      <span class="ingredient-text">{{
        getIngredientText(ingredient).toLowerCase()
        }}</span>
    </ng-container>
  </div>
</ng-template>

<ng-template #additionalInfo>
  <div>
    <div class="time-details overlay-row">
      <ion-icon name="alarm" *ngIf="isNeedsAdvancePreparation"></ion-icon>

      <span *ngIf="isNeedsAdvancePreparation">потребує попередньої підготовки</span>
    </div>
    <div class="overlay-row">{{ complexity }} рецепт</div>

    <div class="advance-prep overlay-row" *ngIf="recipy.isCheckedAndApproved">
      <ion-icon name="checkmark-done"></ion-icon>
      рецепт перевірений на практиці
    </div>
    <div *ngIf="recipy.calorificValue" class="overlay-row">
      Калорійність: {{ Math.round(recipy.calorificValue) }} ккал в 100гр.
    </div>
    <div class="overlay-row">
      Автор: {{ recipy.author }}
    </div>
    <div *ngIf="recipy.portionSize" class="overlay-row">Рекомендований розмір порції: {{recipy.portionSize}}гр.
    </div>
    <div class="collection-tags overlay-row">
      <span>Теги: </span>
      <ion-chip class="collection-chip" *ngFor="let tag of recipy.type">{{
        DishType[tag]
        }}</ion-chip>
    </div>
    <div class="chip-selection-list">
      <ng-container *ngIf="productPreferencesChips?.length">
        <ng-container *ngFor="let item of productPreferencesChips">
          <ion-chip *ngIf="getIsInRecipy(item.productId)" class="collection-chip" [color]="item.color">
            {{item.name}}: {{getProductText(item.productId)}}
          </ion-chip>
        </ng-container>
      </ng-container>
    </div>
    <div class="overlay-row"><ion-icon name="today-outline"></ion-icon> 
      <span *ngIf="recipy.lastPrepared">{{recipy.lastPrepared | lastPreparedDate }}</span>
      <span class="color-warning" *ngIf="!recipy.lastPrepared">не готувався</span>
      </div>
  </div>
</ng-template>