ion-item::part(native) {
  padding-left: 0;
  --inner-padding-end: 0;
}

ion-card {
  position: relative;
  margin: 10px 0 0;
  border-radius: 0;
  box-shadow: none;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

ion-card-header {
  flex-direction: row;
  padding: 5px 10px;
  gap: 15px;
  justify-content: space-between;
}

ion-card-title {
  font-size: 20px;
  line-height: 1.5;
  margin-block: 0px 12px;

}

.header-info-chip {
  font-size: 9px;
  width: 70px;
  text-align: end;
}

ion-card-subtitle {
  ion-icon {
    font-size: 16px;
  }

  &>div {
    margin-top: 8px;
  }
}

ion-card-content {
  flex-grow: 1;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.actions-pane {

  flex-direction: column;
  display: flex;
  padding-inline: 10px;
  background: var(--ion-background-color);
  border-top: 1px solid var(--ion-color-light);
  align-items: center;
  gap: 10px;
  justify-content: flex-end;

  &>ion-button {
    --border-color: var(--ion-color-light)
  }

  .go-recipy-btn {
    white-space: normal;
    width: min-content;
    text-transform: lowercase;
  }
}

.actions-pane-info {
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: normal;
  gap: 3px;
}

.overlay {
  position: absolute;
  bottom: -20px;
  height: 0;
  width: 100%;
  z-index: -1;
  transition: all 200ms ease-in-out;
  background-color: var(--ion-color-tertiary);
  padding: 10px;
  opacity: 0.9;



  .overlay-flex-container {
    gap: 20px;
    display: flex;
  }

  .overlay-row {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 1.2;

    ion-icon {
      margin-right: 5px;
    }
  }

  .time {
    gap: 20px;

    ion-icon {
      margin-right: 0;
    }
  }

  &.visible {
    height: 66vh;
    z-index: 2;
    bottom: 0;

    &.collections {
      ion-list {
        padding-block: 0;
      }
    }

    &>div.actions-pane {
      opacity: 1;
      display: flex;
    }
  }
}

.collections {
  ion-list {
    max-height: 240px;
    overflow-y: auto;
  }
}

.ingredients-wrapper {
  &.no-photo {
    padding-inline: 20px;
    padding-bottom: 0;
  }

  &:not(.no-photo) {
    h6 {
      margin-top: 15px;
      font-size: 11px;
      font-weight: 600;
    }

    div {
      font-size: 10px;
      font-weight: normal;
    }
  }

  h6 {
    margin-block: 5px;
  }

  div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
  }
}

.ingreds-list {
  display: flex;
  flex-direction: column;
}

.big-screen-card {
  height: 550px;

  &-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-left: 37%;
  }

  &-content {
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0.8) 87%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    position: relative;
    padding: 0 5% 0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-action-buttons {
    position: absolute;
    bottom: 0;
    display: flex;

    .collections.visible {
      height: 550px;
      width: 300px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      padding-block: 0 20px;

      .close-btn {
        align-self: flex-end;
        margin-right: -10px;
      }

      ion-list {
        max-height: 100%;
      }
    }
  }

  ion-card-content {
    height: unset;
    flex-grow: 1;
  }
}

.photo-placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-inline: 30px;
}

.humster {
  opacity: 0.3;
  height: 45vh;
}

.steps-block-wrapper {
  padding: 15px;
  background: var(--ion-color-tertiary);
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}


@media (orientation: landscape) and (max-width: 1600px) {
  ::ng-deep app-recipies .big-screen-card-content {
    height: 70vh !important;
  }
}