<app-header>
  <ion-back-button left-button defaultHref="tabs/planner"></ion-back-button>
  <ion-segment title [value]="currentTab" (ionChange)="onTabChange($event)">
    <ion-segment-button [value]="tab.name" *ngFor="let tab of tabs">
      <ion-icon [name]="tab.icon"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</app-header>

<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="currentTab" *ngIf="currentPlanner">
    <ng-container *ngSwitchCase="tabs[0].name"
      ><app-planning [currentPlanner]="currentPlanner"></app-planning
    ></ng-container>
    <ng-container *ngSwitchCase="tabs[1].name"
      ><app-shopping [currentPlanner]="currentPlanner"></app-shopping
    ></ng-container>
    <ng-container *ngSwitchCase="tabs[2].name"
      ></ng-container>
  </ng-container>
</ion-content>
