<div class="calendar-by-day page-container" *ngIf="currentDay">
  <div class="current-day-selector">
    <ion-button size="small" (click)="goPreviousDay()">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <span [class.in-date-range]="isWithinDateRange">{{
      currentDay.toString() | date : "EEEE, d MMMM"
      }}</span>
    <ion-button size="small" (click)="goNextDay()">
      <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
    </ion-button>
  </div>
  <ion-segment [value]="currentTab" (ionChange)="onTabChange($event)">
    <ng-container *ngFor="let tab of tabs">
      <ion-segment-button [value]="tab.value" *ngIf="tab.value !== 'preps' || prepsNumber > 0">
        <ion-label>
          {{ tab.name }}
          <span class="preps-number" *ngIf="tab.value === 'preps' && prepsNumber > 0"
            [class.timed-out]="isPassedReminders">
            : {{ prepsNumber }}</span>
        </ion-label>
      </ion-segment-button>
    </ng-container>

  </ion-segment>

  <ng-container *ngIf="currentTab === tabs[0].value">
    <div *ngIf="!!_day">
      <app-day [day]="_day" [addRecipies]="addRecipies"></app-day>
    </div>
  </ng-container>
  <ng-container *ngIf="currentTab === tabs[1].value">
    <app-advance-preparation *ngIf="_day" [day]="_day" [prepListItems]="reminders"></app-advance-preparation>
  </ng-container>
  <ng-container *ngIf="currentTab === tabs[2].value">
    <app-products-per-day *ngIf="!!_day" [day]="_day"></app-products-per-day>
  </ng-container>
</div>