<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{
      isPlannedIngredient ? ingredient.name : newItemName
    }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="!isPlannedIngredient">
    <ion-item class="add-new-list" button detail="false">
      <ion-label position="floating">Введіть назву:</ion-label>
      <ion-input [(ngModel)]="newItemName"></ion-input>
    </ion-item>
  </ng-container>
  <h3>Виберіть список:</h3>
  <ion-list>
    <ion-radio-group
      *ngIf="lists?.length"
      [value]="selectedList"
      (ionChange)="listChange($event)"
    >
      <ion-item
        swipeLeftNoConfirmation
        *ngFor="let list of lists"
        (itemSwiped)="onDeleteList(list)"
      >
        <ion-label>{{ list.name }}</ion-label>
        <ion-radio slot="end" [value]="list.name"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item
      *ngIf="!isAddNewList"
      button
      detail="false"
      (click)="isAddNewList = true"
    >
      <ion-label>Додати список</ion-label>
      <ion-icon slot="start" name="add-outline"></ion-icon>
    </ion-item>
    <ion-item class="add-new-list" *ngIf="isAddNewList" button detail="false">
      <ion-label position="floating">Введіть назву:</ion-label>
      <ion-input [(ngModel)]="newList"></ion-input>
      <ion-button
        slot="end"
        (click)="addList()"
        [disabled]="newList.length < 3"
      >
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <h3>Редагувати кількість:</h3>
  <ion-item>
    <ion-input [(ngModel)]="amountToAdd"></ion-input>
  </ion-item>

  <ng-container *ngIf="isPlannedIngredient">
    <h3>Використовується в:</h3>
    <ion-list class="used-in">
      <ng-container *ngFor="let childItem of ingredient.items">
        <ion-item *ngFor="let id of childItem.recipyId">
          <ion-label>
            <h4>
              {{ getrecipyName(id) }}
              <span *ngIf="ingredient.unit !== 13">
                {{
                  +childItem.amount
                    | convertToSelectedUnit
                      : childItem.product
                      : ingredient.unit
                    | normalizeDisplayedAmount : ingredient.unit
                }}
              </span>
              <span *ngIf="ingredient.unit === 13"> за смаком </span>
              <span>{{ getUnitText(ingredient.unit) }}</span>
            </h4>
            <p>
              {{
                moment(childItem.day[0].day, "DDMMYYYY")
                  .clone()
                  .format("ddd, DD MMMM")
              }}
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

  <ion-button
    class="add-btn"
    expand="full"
    [disabled]="!isValid"
    (click)="confirm()"
    >{{ confirmButton }}</ion-button
  >
</ion-content>
