.used-in {
    max-height: 25vh;
    overflow-y: auto;
}

.add-new-list {
    align-items: center;
}

.lists-container {
    max-height: 50vh;
    overflow-y: auto;
}

ion-item ion-label {
    white-space: break-spaces;
}

.price-info {    
    p {
        margin-block: 0;
        font-size: 12px;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}