.ingreds-to-exclude ion-chip{
    background-color: rgb(231, 66, 66);    
    color: white;
}

.ingreds-to-include ion-chip{
    background-color: green; 
    color: white;   
}

.tags-to-show ion-chip {
    background-color: green; 
    color: white; 
}

.tags-to-hide ion-chip {
    background-color: rgb(231, 66, 66);    
    color: white;
}

.collection-to-show ion-chip {
    background-color: rgb(83, 99, 170); 
    color: white;
}

ion-chip {
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 5px;
    min-height: auto;
}