<app-header>
  <p title>Особиста сторінка</p>
  <ion-button right-button slot="icon-only" color="primary" id="user-settings-bottomsheet">
    <ion-icon name="settings-outline"></ion-icon>
  </ion-button>
</app-header>

<ion-content>
  <div class="user-header" *ngIf="(user$ | async) && currentUser">

    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <div class="user-info-details">
      <p>Email: {{currentUser.email}}</p>
    </div>

  </div>
  <ng-container *ngTemplateOutlet="settingsBottomsheet"></ng-container>
</ion-content>

<ng-template #settingsBottomsheet>
  <ion-modal trigger="user-settings-bottomsheet" [backdropDismiss]="true" [breakpoints]="[0.25, 0.5, 0.75]"
    [initialBreakpoint]="0.25">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-list lines="full">
          <ion-item *ngFor="let option of settingOptions" (click)="goSettings(option.link)">
            <ion-label>{{option.title}}</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>
</ng-template>