<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recipies">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Всі рецепти</ion-label>
    </ion-tab-button>

    <ng-container *ngIf="isLoggedIn$ | async">
      <ion-tab-button tab="add-recipy">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Додати рецепт</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Календар</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="shopping-list">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <ion-label>Список покупок</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="presentPopover($event)">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-label>Профіль</ion-label>
      </ion-tab-button>
    </ng-container>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <ion-tab-button tab="auth">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Авторизація</ion-label>
      </ion-tab-button>
    </ng-container>
  </ion-tab-bar>
</ion-tabs>

<ion-popover
  #popover
  [isOpen]="isProfileMenuOpen"
  (didDismiss)="isProfileMenuOpen = false"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item lines="full" button (click)="goPlanner()" detail="false">
          <ion-icon slot="start" name="briefcase-outline"></ion-icon>
          <ion-label>Планер</ion-label>
        </ion-item>
        <ion-item lines="full" button (click)="logout()" detail="false">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Вийти</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
