.comments-block {
    padding-inline: 10px;
    border-block: 3px solid var(--ion-color-light);
    p {
        margin: 0;
    }
    ion-button{
        font-size: 10px;
    }
}

.comments-stats {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;    
    border-bottom: 1px solid var(--ion-color-light);
    padding-block: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.comments-modal-content-container {
    display: flex;
    height: 80%;
    flex-direction: column;
}

.existing-comments {
    flex-grow: 1;
    max-height: 60%;
    overflow-y: auto;
}

.save-comment-btn{
    align-self: flex-end;
    margin-bottom: 20px;
}

.fadeout {
    opacity: 0.3;
}