<div class="comments-block">
    <div *ngIf="(comments$ | async)?.length" class="comments-stats">
        <p>{{(comments$ | async)?.length}} коментар</p>
    </div>
    <div class="buttons">
        <ion-button fill="clear">
            <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
            Подобається
        </ion-button>
        <ion-button fill="clear">
            <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
            Коментувати
        </ion-button>
    </div>
</div>