.comments-block {
    padding-inline: 10px;
    border-block: 3px solid var(--ion-color-light);
    background: var(--ion-background-color);
    p {
        margin: 0;
    }
    ion-button{
        font-size: 10px;
    }
}

.comments-stats {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;    
    border-bottom: 1px solid var(--ion-color-light);
    padding-block: 10px;
}

.comments-info {
    font-size: 10px;
    align-self: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.comments-modal-content-container {
    display: flex;
    height: 80%;
    flex-direction: column;
}

.existing-comments {
    flex-grow: 1;
    max-height: 60%;
    overflow-y: auto;
    box-shadow: inset 0px -2px 9px 1px var(--ion-color-light);
    padding: 20px 15px;
}

.save-comment-btn{
    align-self: flex-end;
    margin-bottom: 20px;
}

.fadeout {
    opacity: 0.3;
}

.no-comments {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    p {
        color: var(--ion-color-light);
    }
}