<div class="current-day-selector">
  <ion-button size="small" (click)="goPreviousDay()">
    <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
  </ion-button>
  <span>{{
    (currentDay$ | async)?.toString() | date : "EEEE, d MMMM"
    }}</span>
  <ion-button size="small" (click)="goNextDay()">
    <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
  </ion-button>
</div>

<app-calendar-timeline-day class="day-details" [selectedDay]="(currentDay$ | async)?.toString()" [recipies]="currentDateDetails$ | async"></app-calendar-timeline-day>