ion-card {
  position: relative;
  margin: 10px 0;
  border-radius: 0;
}

ion-card-subtitle {
  ion-icon {
    font-size: 16px;
  }
}

ion-card-content {
  height: 250px;
  padding-inline: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  transition: all 200ms ease-in-out;
  background-color: var(--ion-color-tertiary);
  padding: 10px;
  & > div:not(.ingredients-wrapper) {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 1.2;
    ion-icon {
      margin-right: 5px;
    }

    &.actions-pane {
      position: absolute;
      bottom: 5px;
      width: calc(100% - 20px);
      justify-content: space-evenly;
      flex-direction: row-reverse;
      opacity: 0;
      transition: all 300ms ease-in-out;

      & > ion-button {
        width: 45%;
      }
    }
  }

  .time {
    gap: 20px;
    ion-icon {
      margin-right: 0;
    }
  }

  &.visible {
    height: 260px;
    z-index: 2;

    & > div.actions-pane {
      opacity: 1;
    }
  }
}

.collections {
  ion-list {
    max-height: 240px;
    overflow-y: auto;
  }
}

.ingredients-wrapper {
  &.no-photo {
    padding-inline: 20px;
    padding-bottom: 0;
  }
  &:not(.no-photo){
    h6{
      margin-top: 15px;
      font-size: 11px;
      font-weight: 600;      
    }
    div {
      font-size: 10px;
      font-weight: normal;
    }
  }

  h6 {
    margin-block: 5px;
  }
  div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
  }
}

.collection-chip {
  font-size: 8px;
  height: auto;
}
