ion-card {
  position: relative;
}

ion-card-subtitle {
  ion-icon {
    font-size: 16px;
  }
}

ion-card-content {
    height: 250px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  transition: all 200ms ease-in-out;
  background-color: var(--ion-color-light);
  padding: 10px;
  & > div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    ion-icon {
      margin-right: 5px;
    }

    &.actions-pane {
      position: absolute;
      bottom: 5px;
      width: calc(100% - 20px);
      justify-content: space-evenly;
      flex-direction: row-reverse;
      opacity: 0;
      transition: all 300ms ease-in-out;
    }
  }

  &.visible {
    height: 260px;
    z-index: 2;

    & > div.actions-pane {
      opacity: 1;
    }
  }
}

.collections {
  ion-list {
    max-height: 240px;
    overflow-y: auto;
  }
}

.ingredients-wrapper {
  h6 {
    margin-block: 5px;
  }
  div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
  }
}
