<ion-app class="app-container">
  <ion-split-pane contentId="main-content" when="false">

    <ion-menu contentId="main-content" *ngIf="user$ | async">
      <ion-content>

        <ion-list lines="none">


          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/tabs/add-recipy" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>
                Додати рецепт
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/tabs/draft-recipies" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="document-text-outline"></ion-icon>
              <ion-label>
                Чернетки рецептів
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/tabs/expenses/check-price" routerLinkActive="active" routerDirection="root"
              detail="false">
              <ion-icon slot="start" name="search-outline"></ion-icon>
              <ion-label>
                Перевірити ціну
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Вийти
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ng-container *ngIf="(user$ | async)?.role === Role.Admin">
            <ion-list-header>
              Адмін панель
            </ion-list-header>
            <ion-menu-toggle *ngFor="let page of adminPages" autoHide="false">
              <ion-item [routerLink]="'/tabs/admin/' + page.path" routerLinkActive="active" routerDirection="root"
                detail="false">
                <ion-label>
                  {{page.name}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>


        </ion-list>
        <div class="version">Version: {{version}}</div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
  <app-loading-overlay [isUserLoaded]="isAuthCheckComplete && ((isLoggedIn && !!(user$ | async)) || !isLoggedIn)"
    [isRecipiesLoaded]="!!(recipies$ | async)" [isProductsLoaded]="!!(products$ | async)" *ngIf="(isLoading$ | async)
  || !isAuthCheckComplete || isLoggedIn && !(user$ | async)"></app-loading-overlay>
</ion-app>