.app-container {
    max-width: var(--app-width);
    margin-inline: auto;
}

.version {
    margin: 10px;
    font-size: 10px;
    color: gray;
}


@media (min-width:'1200px'){
//     ion-menu {
//     max-width: max-content;
// }
}
