<ion-list>
  <ng-container *ngFor="let prep of prepListItems">
    <ion-item-sliding #slidingContainer>
      <ion-item button detail="false" *ngIf="!prep.done">
        <ion-label class="reminder-description">
          {{ prep.description }}
        </ion-label>
        <p>{{prep.fullDate | date:'shortTime'}}</p>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="markAsDone(prep)">
          <div>
            <ion-icon name="checkmark-outline" class="small-icon"></ion-icon>
          </div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ng-container>

</ion-list>