<ion-list>
  <ng-container *ngFor="let prep of prepListItems">
    <ion-item
      button
      swipeLeftNoConfirmation
      detail="false"
      *ngIf="!prep.done"
      (itemSwiped)="markAsDone(prep)"
    >
      <ion-label>
        <h3 *ngFor="let ingredient of prep.ingredients">
          <span class="ingredient-name">{{ ingredient.productName }}</span
          ><span>{{
            ingredient.amount
              | convertToSelectedUnit : ingredient.productId : ingredient.unit
              | normalizeDisplayedAmount : ingredient.unit
          }}</span>
          <span>{{ getUnitText(ingredient.unit) }}</span>
        </h3>
        <h4>{{ prep.prepDescription }}</h4>
        <p>
          {{ prep.recipyTitle }}
        </p>
        <p>
          {{ prep.day.toString() | date }}
        </p>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-list>
