<ion-button [id]="'open-modal-comment' + meatime">Додати коментар</ion-button>

<ion-modal [trigger]="'open-modal-comment' + meatime">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Коментар</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
            <ion-item class="add-new-list" button detail="false">
                <ion-label position="floating">Введіть коментар:</ion-label>
                <ion-input [(ngModel)]="comment"></ion-input>
            </ion-item>
            <ion-button class="add-btn" expand="full" [disabled]="!isValid" (click)="confirm()">Зберегти</ion-button>
        </ion-content>
    </ng-template>
</ion-modal>