<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{
      isPlannedIngredient ? ingredient.name : newItemName
      }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="!isPlannedIngredient">
    <div>
      <app-input-with-autocomplete #titleAutocomplete [suggestions]="titleAutocompleteOptions"
        [placeholder]="'Введіть назву:'" (itemSelected)="onItemSelected($event)"></app-input-with-autocomplete>
    </div>
  </ng-container>
  <ion-item>
    <ion-label position="floating">кількість:</ion-label>
    <ion-input [(ngModel)]="amountToAdd"></ion-input>
  </ion-item>
  <!-- <h6>Виберіть список:</h6> -->
  <ion-list class="lists-container">
    <ion-radio-group *ngIf="lists.length" [value]="selectedList" (ionChange)="listChange($event)">
      @for(list of lists; track list.name){
      <ion-radio slot="end" [value]="list.name">{{ list.name }}</ion-radio>
      }
      @if(!isAddNewList){
      <ion-button size="small" class="add-list-btn" (click)="isAddNewList = true"><ion-icon slot="icon-only"
          name="add-outline"></ion-icon></ion-button>
      }
    </ion-radio-group>

    <ion-item class="add-new-list" *ngIf="isAddNewList" button detail="false">
      <ion-label position="floating">Введіть назву:</ion-label>
      <ion-input [(ngModel)]="newList"></ion-input>
      <ion-button slot="end" (click)="addList()" [disabled]="newList.length < 3">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>



  <ng-container *ngIf="isPlannedIngredient && ingredient.items.length">
    <!-- <h3>Використовується в:</h3> -->
    <ion-list class="used-in">
      <ng-container *ngFor="let childItem of ingredient.items">
        <ion-item *ngFor="let id of childItem.recipyId">
          <ion-label>
            
              {{ getrecipyName(id) }}<br>
              
          </ion-label>
          <div class="used-details">
            <span *ngIf="ingredient.unit !== 13 && +childItem.amount; else noUnit" [innerHTML]="+childItem.amount
                    | convertToSelectedUnit
                      : childItem.product
                      : ingredient.unit
                    | normalizeDisplayedAmount : ingredient.unit">
              </span>
              <span *ngIf="ingredient.unit !== 13 && +childItem.amount"> {{ getUnitText(ingredient.unit) }}</span>
           
            <p>
              {{childItem.date | date}}
            </p>
          </div>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="add-btn" expand="full" [disabled]="!isValid" (click)="confirm()">{{ confirmButton }}</ion-button>
  </ion-toolbar></ion-footer>

<ng-template #noUnit>
  <span> за смаком </span>
</ng-template>