<app-header>
  <ion-back-button left-button defaultHref="tabs/recipies"></ion-back-button>
  <p title *ngIf="recipy$ | async">{{ (recipy$ | async)!.name }}</p>
  <ion-button
    *ngIf="isShowApproveBtn$ | async"
    right-button
    size="small"
    (click)="approveRecipy()"
    ><ion-icon name="thumbs-up-outline" slot="icon-only"></ion-icon
  ></ion-button>
  <ion-button
    *ngIf="isCanEdit$ | async"
    right-button
    size="small"
    (click)="goEditRecipy()"
    ><ion-icon name="construct-outline" slot="icon-only"></ion-icon
  ></ion-button>
</app-header>

<ion-content>
  <app-recipy-full-view
    [recipy]="recipy$ | async"
    [currentUser]="user$ | async"
  ></app-recipy-full-view>
  <app-comments-block *ngIf="recipyId" [recipyId]="recipyId"></app-comments-block>
</ion-content>
