<app-header>
  <span title>Чернетки рецептів</span>
</app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      swipeLeftDelete
      button
      *ngFor="let draft of (draftRecipies$ | async); let index = index"
      (click)="editDraft(draft, index)"
      (deleteItem)="deleteDraft(index)"
    >
      <ion-label>
        <h5>{{draft.name}}</h5>
        <p>Додано: {{draft.createdOn | date}}</p>
        <p *ngIf="draft.lastEdited">Відредаговано: {{draft.lastEdited | date}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
