<app-header [isShowDoubleToolbar]="false">
  <app-filters top-header-right-button [pageId]="'all-recipies'"></app-filters>
</app-header>

<ion-content #scrollingContainer [fullscreen]="true" (ionScroll)="onscroll($event)" [scrollEvents]="true">
  <span id="top-anchor"></span>
  
  <div class="recipies-background">
    <div *ngFor="let recipy of recipies; let index = index">
      <app-recipy-short-view *ngIf="index < numberOfRecipiesToDisplay" [currentUser]="user$ | async" [recipy]="recipy"
        [productPreferencesChips]="productChips" [isBigScreen]="isBigScreen"></app-recipy-short-view>
      <app-comments-block *ngIf="index < numberOfRecipiesToDisplay" [currentUser]="currentUser"
        [recipyId]="recipy.id"></app-comments-block>
    </div>
    <ion-infinite-scroll *ngIf="numberOfRecipiesToDisplay <= recipies.length" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-fab *ngIf="showGoTop" (click)="goTop()" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>