<div class="sorting-filter-wrapper">
  <ion-select label="Сортування за:" [value]="$sorting()" (ionChange)="onSortingChange($event)">
    @for(option of sortingOptions(); track option){
    <ion-select-option [value]="option">{{getOptionLabel(option)}}</ion-select-option>
    }

  </ion-select>
  <ion-button (click)="toggleSortingDirection()" size="small" fill="outline" [disabled]="$sorting() === DEFAULT_SORTING">
    @if($sortingDirection() === RecipySortingDirection.SmallToBig){
    <ion-icon name="arrow-up-outline"></ion-icon>
    }
    @else {
    <ion-icon name="arrow-down-outline"></ion-icon>
    }

  </ion-button>
</div>