.recipy-selection-result {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    padding: 10px 0;

    .recipy-selection-section {
        padding: 0;
        display: flex;
        gap: 5px;
    }
}