.recipy-selection-result {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    padding: 10px 0;

    .recipy-selection-section {
        padding: 6px 0;
        display: flex;
        gap: 5px;

        &.active {
            font-weight: bold;
        }
    }
}