<app-header>
  <ion-back-button left-button defaultHref="tabs/recipies"></ion-back-button>
  <span title>Калькулятор щільності</span>
</app-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="inline">
      <ion-input [(ngModel)]="quantityInSelectedUnit" type="number" fill="outline"></ion-input>
      <ion-select [(ngModel)]="selectedUnit">
        <ion-select-option *ngFor="let unit of MeasuringUnitOptions" [value]="unit">{{ getMeasuringUnitText(unit)
          }}</ion-select-option>
      </ion-select>
    </div>
    <div class="inline">

      <ion-input [(ngModel)]="quantityInGr" type="number" fill="outline"></ion-input><span>гр.</span>

    </div>
    <div class="density-field">Щільність: {{density}} кг/м³</div>
  </div>


</ion-content>