.ingredient-item-content {
  display: flex;
  justify-content: space-between;
}

.step-description {
  white-space: normal;
  margin-right: 15px;
}

.step-time {
  display: flex;
  align-items: center;

  ion-icon {
    margin-inline: 7px 3px;
    font-size: 14px;
  }
}

.step-edit {
  &-container {
    display: flex;
    gap: 10px;
    padding-inline: 5px;
  }

  &-textarea {
    flex-grow: 2;
  }

  &-time {
    flex-basis: 40px;
    text-align: center;
    min-width: 60px;
  }
}

.add-product-box {
  padding: 10px 0;
  border: 1px solid var(--ion-color-light);
  h4 {
    text-align: center;
    font-size: 16px;
  }
}

ion-item {
  border: 1px solid var(--ion-color-light);
  --background: white;
}