.ng-autocomplete {
    height: auto;
    width: 100%;
    overflow-y: visible;
}

::ng-deep .ng-autocomplete.selected .autocomplete-container .input-container {
    input {
        background-color: var(--ion-color-tertiary);
        color: var(--ion-color-text);
        font-size: 16px;
    }

    .x i {
        color: var(--ion-color-text);
    }
}

::ng-deep .ng-autocomplete .suggestions-container.is-visible {
    z-index: 10000;
}