<div class="ng-autocomplete" [ngClass]="{'selected': isSelected}">
    <ng-autocomplete #autocomplete [data]="suggestions"
    (selected)="selectEvent($event)"
    (inputChanged)="inputItem = $event"
    (inputCleared)="onClearSearch()" [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
  
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item"></a>
    </ng-template>
  
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="inputItem" (click)="selectEvent(inputItem)"></div>
    </ng-template>
  </div>