<div class="tags margin-block padding-inline">
  <ion-chip [outline]="true" *ngFor="let tag of tags">{{ tag }}</ion-chip>
</div>
<div class="recipy-complexity margin-block padding-inline">
  <span>Складність: </span> <b>{{ complexity }}</b>
</div>
<div class="recipy-time padding-inline">
  <div>
    <p>
      Загальний час приготування:
      <b>{{ activeTime + passiveTime | normalizeTime }}</b>
    </p>
    <p>Активний: {{ activeTime | normalizeTime }}</p>
    <p>Пасивний: {{ passiveTime | normalizeTime }}</p>
  </div>
</div>
<div *ngIf="!!recipy.source" class="padding-inline">
  Джерело рецепту:
  <a [href]="recipy.source" target="_blank">{{ recipy.source }}</a>
</div>
<div class="photo-container margin-block" *ngIf="recipy.photo">
  <app-image [imagePath]="recipy.photo"></app-image>
</div>
<div *ngIf="isUserAdmin">
  <ion-item>
    <ion-checkbox
      [checked]="recipy.isCheckedAndApproved"
      slot="start"
      (ionChange)="onisCheckedAndApprovedClicked($event)"
    ></ion-checkbox>
    <ion-label>Рецепт перевірений на практиці</ion-label>
  </ion-item>
</div>
<div *ngIf="isUserAdmin" class="margin-block">
  <ion-button expand="full" (click)="onAddAdminComment()">
    Додати коментар
  </ion-button>
</div>
