<ng-container *ngIf="recipy; else noRecipy">
  <h1 class="padding-inline">{{ recipy.name }}</h1>
  <ion-segment [value]="currentTab" (ionChange)="onTabChange($event)">
    <ion-segment-button *ngFor="let tab of tabs" [value]="tab.value">
      <ion-label>{{ tab.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="currentTab === tabs[0].value">
    <app-ingredients-tab
      [recipy]="recipy"
      [portions]="portions"
      [amountPerPortion]="amountPerPortion"
    ></app-ingredients-tab>
  </ng-container>

  <ng-container *ngIf="currentTab === tabs[1].value"> steps </ng-container>
  <ng-container *ngIf="currentTab === tabs[2].value"> info </ng-container>
</ng-container>

<ng-template #noRecipy>There's no such recipy</ng-template>
