<div class="timeline-container" [style]="'height: ' + PIXELS_IN_DAY + 'px'">
  <div class="timeline-scale">
    <ng-container *ngIf="timelineScaleItems">
      <div *ngFor="let scale of timelineScaleItems" class="scale-item">
        {{scale}}:00 - {{scale + 1}}:00
      </div>
    </ng-container>

  </div>
  <div class="timeline-body">
    <ng-container *ngIf="timelineScaleItems">
      <div class="background-grid">
        <div *ngFor="let scale of timelineScaleItems" class="scale-item"> </div>
      </div>

      <div class="recipies-container">
        <ng-container *ngFor="let recipy of recipies">
          <div class="timeline-recipy"
            [style]="'height: ' + getRecipyHeight(recipy) + 'px; margin-top: ' + getRecipyTopMargin(recipy) + 'px'"
            [id]="recipy.id + '_' + recipy.endTime">
            {{recipy.name}}

          </div>
          <ion-popover #popover class="recipy-preview" [trigger]="recipy.id + '_' + recipy.endTime" triggerAction="click">
            <ng-template>
              <ion-content>
                <app-recipy-preview [recipy]="recipy" (closePopover)="popover.dismiss()" (editClicked)="onEditRecipy($event)"></app-recipy-preview></ion-content>
            </ng-template>
          </ion-popover>
        </ng-container>

      </div>
    </ng-container>
  </div>
</div>