.ng-autocomplete {
    width: 100%;
    overflow-y: auto;
}

.border-bottom {
    border-bottom: 1px solid var(--ion-color-tertiary-shade);
}

ion-item {
  border: 1px solid var(--ion-color-light);
  --background: white;
}