<div class="ng-autocomplete">
  <div class="border-bottom">
    <app-product-autocomplete #autocomplete [products]="data" [isAddNewProductEnabled]="!!(isAdmin$ | async)"
      (productSelected)="selectEvent($event)" (onAddProduct)="addNewProduct()"></app-product-autocomplete>
  </div>


  <ion-item class="quantity-input-item" [color]="quantity? 'tertiary' : ''">
    <ion-label>Кількість:</ion-label>
    <ion-input type="tel" [(ngModel)]="quantity"></ion-input>
  </ion-item>

  <div>
    <ion-item color="tertiary">
      <ion-label>Одиниця виміру: {{ getMeasuringUnitText(unit)}}</ion-label>
    </ion-item>
    <div class="chip-selection-list">
      <ion-chip *ngFor="let unitTag of measuringUnitsOptions" (click)="unit = unitTag"
        [color]="unit === unitTag? 'primary' : 'secondary'">
        <span>{{ getMeasuringUnitText(unitTag)}}</span>
      </ion-chip>
    </div>
  </div>
  <div *ngIf="isSplitIntoGroups">
    <ion-item color="tertiary">
      <ion-label>Група: {{ selectedgroup }}</ion-label>
    </ion-item>
    <div class="chip-selection-list">
      <ion-chip *ngFor="let group of _groups" (click)="selectedgroup = group"
        [color]="selectedgroup === group? 'primary' : 'secondary'">
        <span>{{ group }}</span>
      </ion-chip>
      <ion-item button>
        <app-input-dialog [id]="'ingred'" [inputFieldLabel]="'Введіть назву групи'" [buttonText]="'Додати нову групу'"
          (resultReceived)="onGroupName($event)"></app-input-dialog>
      </ion-item>
    </div>
  </div>

  <ion-button expand="full" [disabled]="isAddDisabled" (click)="addIngredient()">Додати</ion-button>
</div>