<app-header>
  <span title>Список покупок</span>
  <ion-button right-button size="small" [color]="isRecordExpenseOnBought? 'primary' : 'medium'" (click)="isRecordExpenseOnBought = !isRecordExpenseOnBought"><ion-icon name="cash-outline"
    slot="icon-only"></ion-icon></ion-button>
  <ion-button right-button size="small" (click)="addCustomItem()"><ion-icon name="add"
      slot="icon-only"></ion-icon></ion-button>
  <ion-button *ngIf="currentTab === tabs[0].name" right-button size="small" id="open-datepicker-modal"><ion-icon
      name="add-circle-outline" slot="icon-only"></ion-icon></ion-button>
  <ion-button *ngIf="currentTab === tabs[1].name" right-button size="small" (click)="removeBought()"><ion-icon
      name="trash-bin-outline" slot="icon-only"></ion-icon></ion-button>
</app-header>

<ion-content>
  <ion-segment [value]="currentTab" (ionChange)="onTabChange($event)">
    <ion-segment-button [value]="tab.name" *ngFor="let tab of tabs">
      {{tab.name}}
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="currentTab">
    <ng-container *ngSwitchCase="tabs[0].name">
      <ion-accordion-group>
        <ng-container *ngFor="let list of (activeList$ | async)">
          <ion-accordion [value]="list.name" *ngIf="hasNotBought(list)">
            <ion-item slot="header" color="primary">
              <ion-label>{{list.name}}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-list>
                <ng-container *ngFor="let item of list.items">
                  <ion-item-sliding class="slidingContainer" *ngIf="!item.completed">
                    <ion-item-options side="start">
                      <div class="price-info">
                        <p><ion-icon name="arrow-down-outline"></ion-icon> {{getLowestPrice(item.title) | async}}</p>
                        <p><ion-icon name="arrow-up-outline"></ion-icon>  {{getHighestPrice(item.title) | async}}</p>
                      </div>
                    </ion-item-options>
                    <ion-item>
                      <ion-label>{{item.title}}</ion-label>
                      <ion-chip>{{ item.amount }}</ion-chip>
                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option (click)="onChangeList(item, list.name)">
                        <div>
                          <ion-icon name="move-outline" class="small-icon"></ion-icon>
                        </div>
                      </ion-item-option>
                      <ion-item-option (click)="onEditAmount(item, list.name)">
                        <div>
                          <ion-icon name="create-outline" class="small-icon"></ion-icon>
                        </div>
                      </ion-item-option>
                      <ion-item-option (click)="onSwiped(item, list.name)">
                        <div>
                          <ion-icon name="checkmark-outline" class="small-icon"></ion-icon>
                        </div>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>

                </ng-container>
              </ion-list>
            </div>
          </ion-accordion>
        </ng-container>
      </ion-accordion-group>
    </ng-container>
    <ng-container *ngSwitchCase="tabs[1].name">
      <ion-accordion-group>
        <ng-container *ngFor="let list of (activeList$ | async)">
          <ion-accordion [value]="list.name" *ngIf="hasBought(list)">
            <ion-item slot="header" color="primary">
              <ion-label>{{list.name}}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-list>
                <ng-container *ngFor="let item of list.items">
                  <ion-item-sliding #slidingContainer *ngIf="item.completed">
                    <ion-item>
                      <ion-label>{{item.title}}</ion-label>
                      <ion-chip>{{ item.amount }}</ion-chip>
                    </ion-item>
                    <ion-item-options>
                      <ion-item-option (click)="onSwiped(item, list.name)">
                        <div>
                          <ion-icon name="refresh-circle-outline" class="small-icon"></ion-icon>
                        </div>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </ng-container>
              </ion-list>
            </div>
          </ion-accordion>
        </ng-container>
      </ion-accordion-group>
    </ng-container>
  </ng-container>



  <ion-modal trigger="open-datepicker-modal" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.5"
    [breakpoints]="[0.5, 0.75]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Скасувати</ion-button>
          </ion-buttons>
          <ion-title>Виберіть дати</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Ок</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-datetime presentation="date" [multiple]="true" (ionChange)="selectedDateChanged($event)"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>