<app-header>
  <ion-back-button left-button defaultHref="tabs/recipies"></ion-back-button>
  <span title>Додати продукт</span>
</app-header>

<ion-content [fullscreen]="true">
  <app-add-product-form></app-add-product-form> 

  <div class="check-exists">
    <h4 class="padding-inline">Перевірити чи продукт вже доданий:</h4>
    <app-product-autocomplete
              #withAutocomplete
              *ngIf="products$ | async"
              [products]="products"
            ></app-product-autocomplete>
  </div>
</ion-content>
