.table-container {
  max-width: 100vw;
  max-height: 85vh;
  overflow: auto;
  position: relative;
  td {
    user-select: text;
    border: 1px solid var(--ion-color-light);
    padding: 5px 10px;
    z-index: 1;
    font-size: 14px;
    max-width: 200px;
    &:first-child {
      position: sticky;
      z-index: 3;
      left: 0;
      background-color: var(--ion-color-tertiary);
    }
  }

  .hidden {
    display: none;
  }
}

th{
  position: sticky;
  top: 0;
  background-color: var(--ion-color-tertiary);
  padding-inline: 5px;
  &:not(:first-child) {
    z-index: 2;
  }
}

.header-content{
  display: flex;
  align-items: center;
}

.legend {
  position: fixed;
  height: 40px;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100vw;
  ion-chip{
    min-width: max-content;
  }
}

table{
  margin-top: 40px;
}