:host {
  --app-header: 44px;
  --tabs-height: 50px;
  --segment-height: 32px;
  --safety-height: 20px;
}

.preparations-steps {
  ion-label {
    white-space: normal;
  }
}

.current-step::part(native) {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.scrollable {
  max-height: calc(
    100vh - var(--header-height) - var(--app-header) - var(--tabs-height) -
      var(--segment-height) - var(--safety-height)
  );
  overflow-y: auto;
}
