<div *ngIf="!!currentFilters" class="wrapper">
    <div
      class="title"
      *ngIf="
        currentFilters.ingredientsToInclude.length 
      "
    >
      <div
        class="ingreds-to-include"
        *ngIf="currentFilters.ingredientsToInclude.length"
      >
        <ion-chip
          *ngFor="let tag of currentFilters.ingredientsToInclude"
          (click)="removeIngrToInclude(tag)"
        >
          <ion-label>{{ getIngredientText(tag) }}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      </div>
      
    </div>
  </div>
  